.about-chef {
    font-family: "Roboto", Sans-serif;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}
.about-chef-item {
    padding-left: 50px;
    font-weight: 300;
    line-height: 1.5em;
}
.about-chef-item h2 {
    text-align: left;
    color: #2b2f3e;
    font-size: 29px;
}
.about-chef-item p{
    color: #bdbdbd;
    font-size: 14px;
    padding: 8px 0 14px 0;
}
.chef-item-text p {
    text-align: left;
    color: #2b2d3f;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5em;
}
.about-social span {
    cursor: pointer;
    color: #bdbdbd;
    font-size: 18px;
}
.about-social svg {
   padding: 16px 5px;
}
.about-social span:hover{
    color: #cc263c;
}
.hide-chef-desc {
    cursor: pointer;
    padding: 6px 12px;
    font-size: 1rem;
    color: #f2f2f2;
    float: right;
    background-color: #ec495e;
    border: none;
    border-radius: 4px;
}
.hide-chef-desc:hover {
    background-color: #cc263c;
}
  


@media screen and (max-width: 768px) {
    .about-chef {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .about-chef-item h2 {
        padding-top: 30px;
    }
    .about-chef-item {
        padding-left: 0;
    }
}